<h2 class="text-center"> ¿Que deseas hacer?</h2>

<div class="row-center">
    <div>
        {{#link-to "new-room" tagName="button" id="ncuarto" class="btn btn-block"}}CREAR UNA SALA{{/link-to}}
    </div>
</div>
<br>
<div class="row-center">
    <div>
        {{#link-to "unirse-room" tagName="button" id="ucuarto" class="btn btn-block"}}UNIRSE A SALA{{/link-to}}
    </div>
</div>

<hr>

<h2 class="text-center">INICIAR SESION</h2>
<center>
    <div class="btn-group-vertical">
        <button type="button" class="btn button social email" {{action "signIn" email}}>
            <i class="fa fa-envelope" aria-hidden="true"></i> E-mail
        </button>

        <button type="button" class="btn button social google-plus" {{action "signIn" "google"}}>
            <i class="fa fa-google-plus" aria-hidden="true"></i> Google
        </button>

        <button type="button" class="btn button social github"  {{action "signIn" "github"}}>
            <i class="fa fa-github" aria-hidden="true"></i> Github
        </button>
    </div>
</center>

<hr>

<form>
    {{slide-how-to}}
</form>
{{!-- {{outlet}} --}}